<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71760072916-6qmpunl470nhakmdfr32i91ufq55rvbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71760072916-6qmpunl470nhakmdfr32i91ufq55rvbk</string>
	<key>API_KEY</key>
	<string>AIzaSyB7Y6e56TtA8K8KLBbYvq6HfxE2vvQlU_0</string>
	<key>GCM_SENDER_ID</key>
	<string>71760072916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-b25d5</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-b25d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71760072916:ios:8f03e559478145c05cab41</string>
</dict>
</plist>